
div#footer
	div.container
		div.row-fluid
			div.span3
				h3 Shuya

			div.span3
				h3 Latest tweets 
//				ul#twitter 
				div.clear 

div#under-footer
	div.container
		div.row-fluid
			div.span4
				div#under-footer-logo.brand(href="/")
					a Look What I Eat 

			div.span7
				div#under-footer-copyright &copy; 2013, 
					a Shuya Pty Ltd

			div.span1
				div#under-footer-back-to-top
					a 


