header
	div.container
		div.navbar.navbar-inverse
			div.navbar-inner
				a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href="/") Administration


				div.nav-collapse.collapse
					ul.nav
						li(data-navpage="accounts")
							a(href="/admin/accounts") Accounts

					ul.nav.pull-right
						li
							a(href="/") Public Site

 




