<% extends views\layout.ejs %>

<% block body %>
	<div class="container-fluid">


	<div class="row-fluid">

		<% if (!req.isAuthenticated()) { %>
			<div class="well" style="text-align:center;">

				<h1><img alt="Topic Bash" src="/images/topicbash_logo.png"></h1>
				<div class="lead">
				Don't stay silent.
			 	Its time to share your mind.
				<br>
				Join the world's fastest growing community for people who have something to say.
				<br><br>
				<a href="/auth/facebook"><img alt="Sign in" class="pointer" src="/images/facebooksignin.png"></a>
				</div>

				<div>
					A Facebook account is required to use this service.
				</div>

				<div class="clear"></div>
			</div> 
		<% } else { %>
			

		<% } %>
	</div>



	<div class="row-fluid">
		<div class="span4">

			<div class="well split-well-top">
				<div class="right"><i class="icon-time"></i> 21 hours</div>
				<div class="strong">Daily Topic</div>
			</div>

			<div class="well split-well-bottom">

				<h1 style="margin-top:0px;">Lance Armstrong - Innocent or Guilty? </h1>

	<img src="http://assets.nydailynews.com/polopoly_fs/1.1144778.1345962224!/img/httpImage/image.jpg_gen/derivatives/landscape_635/armstrong26s-1-web.jpg" style="margin-bottom:20px;">


		<div class="progress" style="width:100%;margin-bottom:8px;">
	  <div class="bar bar-success" style="width: 15%;"></div>
	  <div class="bar bar-danger" style="width: 85%;">85% - Guilty</div>
	</div>

			<p style="margin-top:10px;">
				
				USADA found Armstrong participated in a team doping conspiracy that continued for years, using banned substances and prohibited blood transfusions to gain a competitive edge. It ordered the cyclist disqualified from all results from Aug. 1, 1998, through today, which includes the seven consecutive Tour titles won from 1999 through 2005.
			</p>
<!--
	<div style="font-weight:bold;color:#aaa;">
<div style="display:inline-block;margin-right:10px;">65 Arguments</div>
	<div style="display:inline-block;margin-right:10px;">3,622 Opinions</div>
</div>
-->
		
		
			<div class="alert alert-error">
				<div class="strong">
					<div class="right">
						+1,252
					</div>
					Leading argument for 'Guilty'</div>

				<div>
					Of course he is guilty. The case against him is huge. He should just admit what he has done and look to the future...
				</div>
			</div>

			<div class="alert alert-success">
				<div class="strong">
					<div class="right">
						+12
					</div>
					Leading argument for 'Innocent'</div>

				<div>
					The guy is a legend. There is no way he would have done anything that he has been accused of. The world is on a witch hunt and there is absolutely no proof...
				</div>
			</div>

				

				<div class="right">
					
					<div class="btn btn-info">Open Topic <i class="icon-chevron-right icon-white"></i></div>

				</div>

				<div class="clear-both"></div>

			</div>

			<div class="well"  style="height:200px;" >ok2</div>
		</div>

		<div class="span4">
			<div class="well split-well-top">
				<div class="right"><i class="icon-time"></i> 45 minutes</div>
				<div class="strong">Daily Topic</div>
			</div>

			<div class="well split-well-bottom">

				<h1 style="margin-top:0px;">Is 13 too young to be a professional model? </h1>
				
	<img src="http://www.chicmanagement.com.au/assets/Female/S/Samantha/samharris-25.jpg" style="margin-bottom:20px;">



	<div class="progress" style="width:100%;margin-right:30px;margin-bottom:8px;">
	  <div class="bar bar-success" style="width: 65%;">65% - Yes</div>
	  <div class="bar bar-danger" style="width: 35%;"></div>
	</div>



			<p style="margin-top:10px;">
				Covergirl Samantha Harris says 13 is not too young to model. Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search. 
					Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search.
			</p>
<!--
	<div style="font-weight:bold;color:#aaa;">
<div style="display:inline-block;margin-right:10px;">65 Arguments</div>
	<div style="display:inline-block;margin-right:10px;">3,622 Opinions</div>
</div>
-->
			<div class="alert alert-success">
				<div class="strong">
					<div class="right">
						+892
					</div>
					Leading argument for 'Yes'</div>

				<div>
					In today's society this question shouldn't even need asking. There is ample evidence to. Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search.
				</div>
			</div>
		
			<div class="alert alert-error">
				<div class="strong">
					<div class="right">
						+121
					</div>
					Leading argument for 'No'</div>

				<div>
					No harm is being done. Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search. 
				</div>
			</div>

			

				

				<div class="right">
					
					<div class="btn btn-info">Open Topic <i class="icon-chevron-right icon-white"></i></div>

				</div>

				<div class="clear-both"></div>

			</div>

			<div class="well"  style="height:200px;" >ok2</div>
			<div class="well"  style="height:400px;">ok2</div>
			<div class="well"  style="height:400px;">ok2</div>
		</div>

		<div class="span4">
			<div class="well split-well-top">
				<div class="right"><i class="icon-time"></i> 14 hours</div>
				<div class="strong">Daily Topic</div>
			</div>

			<div class="well split-well-bottom">

				<h1 style="margin-top:0px;">Should assult weapons be banned? </h1>
				
	<img src="http://media1.policymic.com/site/articles/21639/photo.jpg" style="margin-bottom:20px;">



	<div class="progress" style="width:100%;margin-right:30px;margin-bottom:8px;">
	  <div class="bar bar-success" style="width: 52%;">52% - Yes</div>
	  <div class="bar bar-danger" style="width: 48%;"></div>
	</div>



			<p style="margin-top:10px;">
				Vice President Joe Biden announced Thursday that he will recommend new gun control measures to President Barack Obama, which include more comprehensive background checks on gun buyers and limits on the sizes of ammunition magazines. The proposal could lead to the most significant move on guns in 20 years, but one regulation highly coveted by gun control advocates was notably missing: a ban on assault weapons.
			</p>
<!--
	<div style="font-weight:bold;color:#aaa;">
<div style="display:inline-block;margin-right:10px;">65 Arguments</div>
	<div style="display:inline-block;margin-right:10px;">3,622 Opinions</div>
</div>
-->
			<div class="alert alert-success">
				<div class="strong">
					<div class="right">
						+892
					</div>
					Leading argument for 'Yes'</div>

				<div>
					In today's society this question shouldn't even need asking. There is ample evidence to. Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search.
				</div>
			</div>
		
			<div class="alert alert-error">
				<div class="strong">
					<div class="right">
						+121
					</div>
					Leading argument for 'No'</div>

				<div>
					No harm is being done. Dolly magazine sparked controversy earlier this month after it chose Kirsty Thatcher as the winner of its national model search. 
				</div>
			</div>

			

				

				<div class="right">
					
					<div class="btn btn-info">Open Topic <i class="icon-chevron-right icon-white"></i></div>

				</div>

				<div class="clear-both"></div>

			</div>
			<div class="well"  style="height:200px;">ok2</div>
			<div class="well" style="height:200px;">ok2</div>

		</div>

	</div>





	</div>
<% end %>




