extends layout

block content


	div#wrapper
		div#wall.row-fluid
			div.span3.item
				div.quotes
					div.quote
						“You are what you eat!”
					div.author This is the home page: #{user}							

			div.span3.item
				div.picture
					a.image(href="/auth/facebook", title="title") 
						img(src="/images/fb1.jpg", alt="image 1")
					div.description
						p Melia on scooter! very pretty
					div.meta 
						span
							i.fa-icon-calendar 
							| 1 June 2012
						span
							i.fa-icon-user	
							a(href="#") Lucia
						span
							i.fa-icon-heart-empty 
							| 99

			div.span3.item
				div.picture
					a.image(href="/auth/facebook", title="title") 
						img(src="/images/fb1.jpg", alt="image 1")
					div.description
						p Melia on scooter! very pretty
					div.meta 
						span
							i.fa-icon-calendar 
							| 1 June 2012
						span
							i.fa-icon-user
							a(href="#") Lucia
						span
							i.fa-icon-heart-empty 
							| 99

			div.span3.item
				div.picture
					a.image(href="/auth/facebook", title="title") 
						img(src="/images/fb1.jpg", alt="image 1")
					div.description
						p Melia on scooter! very pretty
					div.meta 
						span
							i.fa-icon-calendar 
							| 1 June 2012
						span
							i.fa-icon-user
							a(href="#") Lucia
						span
							i.fa-icon-heart-empty 
							| 99



