div.container-fluid
	div.navbar.navbar-inverse
		div.navbar-inner
			a.brand(href="/") #{global.c("site", "name")}

			a.but.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar

			div.nav-collapse.collapse
				ul.nav
					li 
						a home
					li 
						a page2

